### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
workspace.xml
*.log
/.idea/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/vcs.xml
