<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.squirrel.mapper.PrivateMessageMapper">

    <!-- 根据用户 id 和好友 id 查询私信列表 -->
    <select id="selectByUserIdAndFriendId" resultType="com.squirrel.model.message.pojos.PrivateMessage">
        select * from tb_private_message
        where (sender_id = #{userId} and receiver_id = #{friendId})
        or (sender_id = #{friendId} and receiver_id = #{userId})
        and id > #{lastMessageId}
        order by id desc
    </select>
</mapper>